@font-face {
  font-family: 'Anchan';
  src: url('font/Anchan.woff2') format('woff2'),
      url('font/Anchan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TH Sarabun New';
  src: url('font/THSarabunNew.woff2') format('woff2'),
      url('font/THSarabunNew.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SILPAKORN70yr';
  src: url('font/SILPAKORN70yr.woff2') format('woff2'),
      url('font/SILPAKORN70yr.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  /* background: #dea93e;
  background-image: url('../img/bg2.jpg');
  background-size: 50px 10px; */

  background: #f4cc72;
  /* background-image: url('../img/bg3.jpg');
  background-position: center -280px;
  background-attachment: fixed;
  background-size: auto 150%; */

  margin: 0;
  padding: 0;
  font-size: 20px; 
  font-family: 'TH Sarabun New';
  color: #603913;
}

.container{
  padding-left: 10px;
  padding-right: 10px; 
}

::-webkit-scrollbar { 
  display: none; 
}

input, select{
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding-left: 10px;
  border: none;
  border-bottom: solid 5px #72c6aa;
  background: #fcf4e2;
  font-size: 20px; 
  font-family: 'TH Sarabun New';
  border-radius: 7px 7px 0 0;
}
textarea{
  width: 100%;
  margin-bottom: 10px;
  height: 120px;
  padding-left: 10px;
  border: none;
  border-bottom: solid 5px #72c6aa;
  background: #fcf4e2;
  font-size: 20px; 
  font-family: 'TH Sarabun New';
  border-radius: 7px 7px 0 0;
}

textarea:focus, input:focus{
  outline: none;
}

button{
  width: 100%;
  height: 40px;
  cursor: pointer;
}
button:focus{
  outline: none;
}

.content{
  padding: 0 30px;
  box-sizing: border-box;
  margin-top: 20px;
}

.inLeft{
  animation-name: 'fadeInLeft';
  animation-duration: 0.2s;
}

.backLeft{
  animation-name: 'fadeBackLeft';
  animation-duration: 0.2s;
}

.inRight{
  animation-name: 'fadeInRight';
  animation-duration: 0.2s;
}

.backRight{
  animation-name: 'fadeOutRight';
  animation-duration: 0.2s;
}

.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}

/* ////// RESET ANT /////////// */
/* Picker */
.ant-time-picker-icon{
  display: none;
}
.ant-time-picker-panel-inner{
  background-color: #fcf4e2;
  left: 0;
}
li.ant-time-picker-panel-select-option-selected{
  background: #faf5b2;
}
.ant-time-picker-panel-select li:hover{
  background: #faf5b2;
}

.ant-time-picker-panel{
  width: 320px;
}
.ant-time-picker-panel-narrow .ant-time-picker-panel-input-wrap{
  width: 100%;
}
.ant-time-picker-panel-input-wrap{
  min-width: 100%;
}
.ant-time-picker-panel-select{
  width: 50%;
}
.ant-time-picker-panel-select li{
  text-align: center;
  font-size: 16px;
}
.ant-time-picker-panel-input  {
  text-align: center;
  pointer-events: none;
  user-select: none;
  
}
.ant-time-picker-panel-input-wrap{
  pointer-events: none;
  user-select: none;
  display: none;
}


/* Slider */
.ant-slider-handle{
  width: 20px;
  height: 20px;
  margin-top: -8px;
}
/* .ant-slider-handle:hover{
  border-color: #9c2828;
}
.ant-slider-handle:active{
  border-color: #9c2828;
}
.ant-slider-rail:hover .ant-slider-handle{
  border-color: #9c2828;
}
.ant-slider-track{
  background-color: #9c2828;
}
.ant-slider:hover .ant-slider-track{
  background-color: #9c2828;
}
.ant-slider:hover .ant-slider-handle{
  border-color: #9c2828;
}
.ant-slider-rail{
  background: #f3d5bc;
}
.ant-slider:hover .ant-slider-rail{
  background: #f3d5bc;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
  border-color: #9c2828;
}
.ant-slider-handle:focus{
  border-color: #9c2828;
  box-shadow: none;
} */


/* Wheel  */

.am-picker-popup{
  background: #faf5b2;
}
.am-picker-col-mask{
  background-image: 
  linear-gradient(to bottom, 
  rgba(250, 245, 178, 0.95), 
  rgba(250, 245, 178, 0.6)), 
  linear-gradient(to top, 
  rgba(250, 245, 178, 0.95), 
  rgba(250, 245, 178, 0.6));
}
.am-picker-col-item{
  font-size: 32px;
  color: #603913;
}
.am-picker-col-item-selected{
  font-weight: bold;
}
.am-picker-popup-header .am-picker-popup-header-right{
  visibility: hidden;
}
.am-picker-popup-header .am-picker-popup-header-right:after{
  content: 'ตกลง';
  visibility: visible;
  font-size: 22px;
  color: #9c2828;
  font-weight: bold;
}
.am-picker-popup-header .am-picker-popup-header-left{
  visibility: hidden;
}
.am-picker-popup-header .am-picker-popup-header-left:after{
  content: 'ยกเลิก';
  visibility: visible;
  font-size: 22px;
  color: #603913;
  text-align: left;
  margin-left: -35px;
}



.ant-time-picker-input{
  font-size: 20px;
}

.ant-btn{
  width: auto;
}

